* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 3.12em 0;
    grid-template-areas: "header"
                         "contenido"
                         "footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
    background: #e7dec8;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background: #28f;
    color: white;
    grid-area: header;
    height: 6.25em;
    position: relative;
}
.contenedor .header .img{
    width: 6.25em;
    height: 6.25em;
    position: absolute;
    right: calc(50% - 3.2em);
}
.img:hover > #CirculoFondoSVG > path  {
    fill: #0A7CFF;
    box-shadow: 10px 10px 10px;
}

.contenedor .contenido{
   background: white;
   grid-area: contenido;
   text-align: center;
   height: 300px;
}
.contenedor h1{
    text-align: center;
}

.contenedor .footer{
    background: #28f;
    color: white;
    grid-area: footer;
    max-height: 6.25em;
}

@media screen and (max-width: 768px){
  body{
    font-size: 12px;
  }

}